@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Scrollbar elegante che appare solo quando usi lo scroll */
.scroll-appear {
  scrollbar-width: thin;
  scrollbar-color: #777 transparent;
}

/* Chrome / Safari / Edge */
.scroll-appear::-webkit-scrollbar {
  height: 6px;
  opacity: 0; /* start invisibile */
  transition: opacity 0.3s ease;
}

.scroll-appear::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 20px;
}

/* appare quando scrolli */
.scroll-appear:hover::-webkit-scrollbar {
  opacity: 1;
}

.scroll-appear:active::-webkit-scrollbar {
  opacity: 1;
}
